{% extends "layout.html" %}

{% block title %}
    マップ
{% endblock %}

{% block main %}
<!-- TODO: インデックスの中身 -->
<!DOCTYPE html>
<html lang="ja">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- CSSのリンクはdist.cssのみ -->
<link rel="stylesheet" href="dist.css">
<title>Document</title>
</head>

<body>
<!-- 確認用にてきとうなTailwind CSSのClassNameをつけます -->
<h1 class="text-7xl text-blue-900 bg-gray-200 p-10 m-10 w-fit">Hello TailwindCSS</h1>
</body>

</html>

<p>This is map.html</p>
<form action="/summary" method="get">

    <!-- TODO: name='region' をつけてsubmit -->
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="region" placeholder="region" type="text">
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
{% endblock %}
